/* main */

body {
  background-color: #221f40;
  background-image: linear-gradient(to bottom, #d36a99, #221f40 50%);
  height: 100vh;
  color: rgba(0, 0, 0, 0.726);
  font-family: "Fira Sans", sans-serif;
}

h2 {
  margin: 0px;
}

main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* header */

.headline {
  font-family: "Sansita", sans-serif;
  color: #221f40;
  text-align: center;
}

/* ticket/card */
#ticketContainer {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(249, 252, 255);
  border-radius: 2px;
  box-shadow: rgba(20, 20, 20, 0.425) 5px 5px 20px 5px;
}

#ticketContainer p {
  color: rgba(0, 0, 0, 0.288);
  margin: 0px;
}

#ticketInfoTop {
  display: flex;
  flex-direction: column;
}
#what {
  border-bottom: 1px dotted grey;
}
#what h1 {
  color: #d36a99;
}

#what,
#where {
  padding: 5px;
}

#ticketInfoBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#where {
  height: 100px;
}

#when,
#from,
#to {
  border: 1px dotted grey;
  width: 100%;
  justify-content: center;
  padding: 5px;
}

#imgBarCode {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

#ticketBarcodeSection {
  background-color: rgb(233, 233, 233);
  padding: 30px;

  min-height: 100px;
}

#ticketBarcodeSection p {
  text-align: center;
}
