body {
  background-color: rgb(26, 26, 53);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

h1 {
  color: hotpink;
  text-align: center;
  letter-spacing: 0.5rem;
}

/* eventCard */
.eventCard {
  background-color: rgb(30, 30, 59);
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #d8d8d8;
  justify-content: space-evenly;
}
.eventCardMiddleSection {
  display: flex;
  flex-direction: column;
}

.eventDate {
  border: 1px solid #d8d8d8;
  max-width: 3ch;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
