/* main */

body {
  background-color: #1a1a35;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

main {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.headline {
  color: hotpink;
  text-align: center;
  letter-spacing: 0.5rem;
}
/* button */

header button {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 10px;
  padding: 0.5em 1em;
  color: orange;
  box-shadow: #3f3e3e46 4px 3px 3px 3px;
  border-radius: 3px;
  background-color: #1a1a35;
  border: orange 2px solid;
  cursor: pointer;
}

header button:hover {
  background-color: rgb(248, 170, 25);
  color: #1a1a35;
}

/* eventCard */
.eventCard {
  background-color: rgb(30, 30, 59);
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #d8d8d8;
  justify-content: space-evenly;
  cursor: pointer;
}
.eventCardMiddleSection {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 0%;
}
.eventCardMiddleAndRightSection {
  justify-content: space-evenly;

  border-bottom: 1px solid rgba(110, 110, 128, 0.685);
  display: flex;
  min-width: 70%;
  flex-direction: row;
}
.eventDate {
  border: 1px solid #d8d8d8;
  max-width: 3ch;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.eventPrice {
  align-self: self-end;
  color: rgb(7, 168, 155);
}

.eventTime,
.eventLocation {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
